body{
  
}
.MainContainer{
  box-sizing: border-box;
  margin: 25px 140px;
  position: relative;
}

.App {
  text-align: center;
}

html {
  background:
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url(assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 0px;

}


@media only screen and (max-width: 1200px) {
  .MainContainer{
    margin: 25px 100px;
  }
}
@media only screen and (max-width: 850px) {
  .MainContainer{
    margin: 25px 50px;
  }
}
@media only screen and (max-width: 750px) {
  .MainContainer{
    margin: 25px 30px;
  }
}
@media only screen and (max-width: 650px) {
  .MainContainer{
    margin: 25px 14px;
  }
}


.Fade-enter {
  opacity: 0;
}
.Fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.Fade-exit {
  opacity: 1;
}
.Fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}


